OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

PINECONE_API_KEY=
PINECONE_INDEX_NAME=techdocs-patents

KIPRIS_API_KEY=
KIPRIS_BASE_URL=http://plus.kipris.or.kr/kipo-api/kipi

FRONTEND_URL=http://localhost:3000
